<form class="form" #form="ngForm" (ngSubmit)="onSubmitForm(form)">
  <div class="form-field">
    <label for="firstName">First Name</label>
    <input
      [(ngModel)]="userInfo.firstName"
      required
      minlength="2"
      [appBanWords]="['test']"
      #firstName="ngModel"
      name="first-name"
      type="text"
      id="firstName"
      placeholder="Enter your name"
    >
    <div *ngIf="firstName.hasError('required') && firstName.dirty" class="input-error">This field is required</div>
    <div *ngIf="firstName.hasError('minlength') && firstName.dirty" class="input-error">
      The length should be at least <strong>{{firstName.getError('minlength').requiredLength}}</strong> characters
    </div>
    <div *ngIf="firstName.hasError('appBanWords') && firstName.dirty" class="input-error">
      The value <strong>{{firstName.getError('appBanWords').bannedWord}}</strong> is not allowed
    </div>
  </div>
  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      [(ngModel)]="userInfo.lastName"
      required
      minlength="2"
      #lastName="ngModel"
      name="last-name"
      type="text"
      id="last-name"
      placeholder="Enter your last name"
    >
    <div *ngIf="lastName.hasError('required') && lastName.dirty" class="input-error">This field is required</div>
    <div *ngIf="lastName.hasError('minlength') && lastName.dirty" class="input-error">This field is too short</div>
  </div>
  <div class="form-field">
    <label for="nick-name">Nick Name</label>
    <input
      [(ngModel)]="userInfo.nickname"
      [ngModelOptions]="{ updateOn: 'blur' }"
      required
      minlength="3"
      pattern="^[\w_.]+$"
      [appBanWords]="isAdult ? ['test', 'test_test', 'dummy'] : []"
      appUniqueNickname
      #nickname="ngModel"
      name="nickname"
      type="text"
      id="nick-name"
      placeholder="Come up with a nick name"
    >
    <div *ngIf="nickname.hasError('required') && nickname.dirty" class="input-error">This field is required</div>
    <div *ngIf="nickname.hasError('minlength') && nickname.dirty" class="input-error">This field is too short</div>
    <div *ngIf="nickname.hasError('pattern') && nickname.dirty" class="input-error">Only letters, numbers, _ and . is allowed</div>
    <div *ngIf="nickname.hasError('appBanWords') && nickname.dirty" class="input-error">
      The value <strong>{{nickname.getError('appBanWords').bannedWord}}</strong> is not allowed
    </div>
    <div *ngIf="nickname.hasError('appUniqueNickname') && nickname.dirty" class="input-error">
      The nickname is taken
    </div>
    <div *ngIf="nickname.pending" class="input-info">Checking...</div>
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input
      [(ngModel)]="userInfo.email"
      email
      required
      #email="ngModel"
      name="email"
      type="email"
      id="email"
      placeholder="Provide your email"
    >
    <div *ngIf="email.hasError('required') && email.dirty" class="input-error">This field is required</div>
    <div *ngIf="email.hasError('email') && email.dirty" class="input-error">This field should be a valid email</div>
  </div>
  <div class="form-field-inline-group">
    <div class="form-field form-field--small">
      <label for="year-of-birth">Year of birth</label>
      <select required #yearOfBirth="ngModel" [(ngModel)]="userInfo.yearOfBirth" name="year-of-birth" id="year-of-birth">
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
      <div *ngIf="yearOfBirth.hasError('required') && yearOfBirth.dirty" class="input-error">This field is required</div>
    </div>
    <div class="form-field form-field--small">
      <label for="passport">Passport Number</label>
      <input
        [(ngModel)]="userInfo.passport"
        [required]="isAdult"
        pattern="^[A-Z]{2}[0-9]{6}$"
        #passport="ngModel"
        name="passport"
        type="text"
        id="passport"
        placeholder="Provide Passport Data"
      >
      <div *ngIf="passport.hasError('pattern') && passport.dirty" class="input-error">This field has the following format: XX000000</div>
      <div *ngIf="passport.hasError('required') && passport.dirty" class="input-error">Required for adults</div>
    </div>
  </div>
  <fieldset ngModelGroup="address">
    <legend>Address</legend>
    <div class="form-field">
      <label for="full-address">Full Adress</label>
      <input
        [(ngModel)]="userInfo.fullAddress"
        required
        #fullAddress="ngModel"
        name="full-address"
        type="text"
        id="full-address"
        placeholder="Street name and house number"
      >
      <div *ngIf="fullAddress.hasError('required') && fullAddress.dirty" class="input-error">This field is required</div>
    </div>
    <div class="form-field">
      <label for="city">City</label>
      <input
        [(ngModel)]="userInfo.city"
        required
        #city="ngModel"
        name="city"
        type="text"
        id="city"
        placeholder="City"
      >
      <div *ngIf="city.hasError('required') && city.dirty" class="input-error">This field is required</div>
    </div>
    <div class="form-field">
      <label for="post-code">Post Code</label>
      <input
        [(ngModel)]="userInfo.postCode"
        required
        #postCode="ngModel"
        name="post-code"
        type="number"
        id="post-code"
        placeholder="Post code"
      >
      <div *ngIf="postCode.hasError('required') && postCode.dirty" class="input-error">This field is required</div>
    </div>
  </fieldset>
  <fieldset ngModelGroup="password" appPasswordShouldMatch #passwordGroup="ngModelGroup">
    <legend>User Password</legend>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        [(ngModel)]="userInfo.password"
        required
        minlength="6"
        #password="ngModel"
        name="password"
        type="password"
        id="password"
        placeholder="Enter user's password">
      <div *ngIf="password.dirty && password.hasError('required')" class="input-error">This field is required</div>
      <div *ngIf="password.dirty && password.hasError('minlength')" class="input-error">
        Password length should be at least <strong>{{password.getError('minlength').requiredLength}}</strong> characters
      </div>
    </div>
    <div class="form-field">
      <label for="confirm-password">Confirm password</label>
      <input
        [(ngModel)]="userInfo.confirmPassword"
        #confirmPassword="ngModel"
        name="confirm-password"
        type="password"
        id="confirm-password"
        placeholder="Confirm the password">
      <div *ngIf="confirmPassword.dirty && confirmPassword.hasError('appPasswordShouldMatch')" class="input-error">Password doesn't match</div>
    </div>
  </fieldset>
  <button [disabled]="form.invalid || form.pending">Save</button>
</form>
